/*basic color*/
.basic-light-blue {
  color: #36C5D3 !important;
}
.basic-dark-grey {
  color: #2C3642 !important;
}
.basic-grey {
  color: #E7ECF1 !important;
}
.basic-green {
  color: #1CBB9C !important;
}
.basic-blue {
  color: #669BDF !important;
}
.basic-blue:hover {
  color: #548ED8;
}
.basic-blue:active {
  color: #3873BE;
}
.basic-orange {
  color: #FF8D60 !important;
}
.basic-red {
  color: #ED6B75 !important;
}
.basic-purple {
  color: #A98BD5 !important;
}
.text-grey1 {
  color: #404040 !important;
}
.text-grey2 {
  color: #F9F9F9 !important;
}
.text-grey3 {
  color: #E8E8E8 !important;
}
.text-grey4 {
  color: #D0D1D3 !important;
}
.text-grey5 {
  color: #BDBFC3 !important;
}
.basic-brown {
  color: #D5AB47 !important;
}
.basic-primary {
  color: #3C4C5D !important;
}
.basic-primary:hover {
  color: #2F4050;
}
.basic-disabled {
  color: #BDBFC3 !important;
}
