@import "Calendar.css";
@import "Pagination.css";

.ui.form .inline.fields.right {
  justify-content: flex-end;
}

html,
body,
#root {
  height: 100%;
  color: #404040;
  font-size: 13px;
  font-family: "Microsoft JhengHei", "Helvetica Neue";
  line-height: 20px;
}

#root > #pageWrapper,
#root > #pageWrapper > div {
  height: 100%;
}

.clearfix::before {
  display: table;
  content: "";
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.clearfix + .ui.basic.segment.clearing {
  margin-top: 0;
}

.inner-page-pusher.pusher {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: 0px;
  padding: 20px;
  height: 100%;
  -webkit-transition: -webkit-margin-left 0.5s ease;
  transition: -webkit-margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease, -webkit-margin-left 0.5s ease;
  transition-delay: initial, initial;
  transition-timing-function: ease, ease;
  transition-duration: 0.5s, 0.5s;
  transition-property: margin-left, -webkit-margin-left;
}

.inner-page-pusher.pusher.thin {
  margin-left: 160px;
}

.page-title,
.basic-title,
.content-title {
  font-size: 13px;
  line-height: 40px;
}

.page-title {
  color: #404040;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}

.basic-title {
  font-weight: 700;
}

.content-title {
  margin: 0 5px;
}

.advanced-title {
  margin-right: 15px;
}

.sub-header {
  margin: 1em 0;
}

.sub-header span {
  font-weight: 700;
}

.ui.header > span {
  display: inline-block;
  margin-left: 0.5em;
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid #e7ecf1;
}

.ui.secondary.pointing.menu .item:not(.notice) {
  font-weight: bold;
  font-size: 15px;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #669bdf;
  color: #669bdf;
}

.ui.secondary.pointing.menu .active.item:hover {
  border-color: #d0d1d3;
  color: #404040;
}

.ui.secondary.sub.menu .item {
  border: 1px solid #669bdf;
  color: #669bdf;
  background-color: white;
}

.ui.secondary.sub.menu .item:hover {
  color: white;
  background-color: #669bdf;
}

.ui.secondary.sub.menu .active.item {
  background-color: #669bdf;
  color: white !important;
}

.ui.secondary.sub.menu .active.item:hover {
  background-color: #548ed8;
}

.scrollbar-container.ps--active-x .ui.secondary.pointing.menu .item {
  border-bottom-color: #e7ecf1;
}

.scrollbar-container.ps--active-x {
  margin-bottom: 1rem;
}

.lang-icon,
.lang-icon-cr {
  width: 35px;
  padding: 2px;
  border-radius: 50%;
}

.lang-icon {
  border: 2px solid #4d5768;
}

.lang-icon-cr {
  border: 1px solid #f5f5f5;
  -webkit-filter: grayscale(100%);
}

::-webkit-scrollbar,
.wide-sidebar::-webkit-scrollbar,
.inner-page-pusher.pusher::-webkit-scrollbar {
  width: 7px;
}

.wide-sidebar::-webkit-scrollbar-track,
.inner-page-pusher.pusher::-webkit-scrollbar-track {
  display: none;
}

.inner-page-pusher.pusher::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0000002b;
}

@media only screen and (max-width: 767px) {
  .inner-page-pusher.pusher {
    padding: 10px;
  }
  .inner-page-pusher.pusher,
  .inner-page-pusher.pusher.thin {
    margin-left: 0;
  }
  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.ui.segments.actions,
.ui.segments.actions > .ui.segment,
.ui.segment.actions {
  padding: 0 !important;
  border: 0 !important;
  box-shadow: 0 0 0 0;
}

.ui.actions > .ui.segment > .ui:first-child {
  margin-left: 0 !important;
}

.font-bold {
  font-weight: bold !important;
}

.font-normal {
  font-weight: normal !important;
}

.overflow-text {
  width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-icon {
  max-width: 170px;
}

.overflow-icon i.icon {
  width: 15%;
  float: left;
  margin-right: 2%;
  margin-top: 2%;
  text-align: center;
}

.overflow-icon i:nth-child(6n) {
  margin-right: 0;
}

.overflow-icon i:nth-child(-n + 6) {
  margin-top: 0;
}

.direct-link {
  cursor: pointer;
}

.ui.breadcrumb > .section:last-child {
  font-size: 16px;
}

.ui.dropdown .menu > .item > .description.span-disable {
  color: #ed6b75;
}

.select-disabled {
  user-select: none;
}

.hide:not(i) {
  display: none !important;
}
