/*下拉選單*/
.ui.dropdown .menu .active.item {
  background: #f7f7f7;
  color: #404040;
}

.ui.dropdown .menu > .disabled.item {
  color: #bdbfc3;
}

/*搜尋式下拉選單箭頭*/
.input-hint {
  color: #bdbfc3;
  font-size: 12px;
}

/* input placeholder過長用...代替 */
input:placeholder-shown {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*input active, textarea active*/
input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 1px solid #669bdf !important;
}
input:hover,
textarea:hover,
.ui.selection.dropdown:hover {
  border: 1px solid #e8e8e8;
}
.ui.selection.dropdown:active,
.ui.selection.dropdown:focus,
.ui.selection.dropdown.active.visible,
.ui.selection.dropdown .menu.transition.visible {
  border: 1px solid #669bdf;
}

/* 參數管理標題label */
.ui.table .form-item-label {
  margin: 0.5em auto 0.5em auto;
  font-weight: 700;
  font-size: 1.15em;
}

/* input-upload */
.field.field-upload {
  position: relative;
}

.field.input-autosize {
  align-self: baseline;
}

.ui.form .inline.fields .field.input-autosize > .ui.input {
  width: 100%;
}

.field.input-autosize small {
  font-size: 1em;
  margin-top: -2em;
  padding: 0 10px;
  visibility: hidden;
}

.ui.form .field input.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.ui.form .field input.input-file + label {
  display: inline-block;
  width: 190px;
  padding: 4px 8px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
  margin-right: 8px;
  color: #bdbfc3;
}

.ui.form .field input.input-file + label.upload {
  color: #404040;
}

.ui.form .field input.input-file ~ .ui.button {
  margin-left: 8px;
  display: inline-block;
}

.ui.form .ui.disabled.input input[type="text"]:disabled {
  color: #bdbfc3;
  background: #fafafc;
}
