:global(.segment).my-sidebar {
  margin: 0;
  width: 100%;
  height: calc(100% - 50px) !important;
  border: 0;
  border-radius: 0;
}

:global(.wide-sidebar) {
  animation: slide-in 0.5s ease-out;
}

.my-sidebar :global(.ui.sidebar.menu) {
  width: 160px;
  background: #374050;
  color: #939db1;
  scrollbar-width: none;
}

.my-sidebar :global(.ui.sidebar.menu::-webkit-scrollbar) {
  display: none;
}

.user-info-wrap {
  padding: 0 5px 20px 14px;
  border-bottom: 1px #3d4957 solid;
  font-size: 13px;
}

.user-name {
  padding: 10px 0;
  color: #ff8d60;
}

:global(.ui.inverted.menu .item),
:global(.ui.inverted.menu .item > a:not(.ui)) {
  color: #939db1;
  margin-left: 16px;
}

.my-sidebar .sidebar-accordion :global(.title:not(.ui)) {
  box-sizing: border-box;
  padding: 0;
  border-bottom: 1px #3d4957 solid;
  font-size: 15px;
}

.my-sidebar .sidebar-accordion :global(.title .menu .active.item),
.my-sidebar .sidebar-accordion :global(.title) :global(.ui.menu).active-item {
  background-color: #59616d;
}

.my-sidebar .sidebar-accordion :global(.title .ui.menu .item),
.my-sidebar .sidebar-accordion :global(.title .ui.menu),
.my-sidebar :global(.ui.sidebar.menu .menu .menu .item) {
  display: flex;
  align-items: center;
}

.my-sidebar .sidebar-accordion :global(.title:hover .ui.menu .item),
.my-sidebar .sidebar-accordion :global(.title:hover .ui.menu) {
  background-color: #36c5d3;
}

.my-sidebar .sidebar-accordion :global(.title .ui.menu) {
  background-color: #374050;
}

.my-sidebar .sidebar-accordion :global(.title:not(.ui)) .sidebar-content {
  padding: 16px 14px 16px 26px;
  font-size: 15px;
  color: #939db1;
}

.my-sidebar
  .sidebar-accordion
  :global(.title:hover)
  :global(.item).sidebar-content {
  background-color: #36c5d3;
  color: #fff;
  font-size: 15px;
}

.my-sidebar .sidebar-accordion :global(.title:not(.ui)).current-located a,
.my-sidebar .sidebar-accordion :global(.title:hover .ui.menu:hover),
.my-sidebar
  .sidebar-accordion
  :global(.title)
  :global(.ui.menu).current-located,
.my-sidebar
  .sidebar-accordion
  :global(.title)
  :global(.ui.menu).current-located.active-item,
.my-sidebar
  .sidebar-accordion
  :global(.title)
  :global(.ui.menu).current-located
  :global(.item) {
  background-color: #36c5d3;
  color: #fff;
}

.my-sidebar
  .sidebar-accordion
  :global(.title:not(.ui) .menu)
  :global(.item).sidebar-content {
  padding: 17px 0px 17px 0px;
  font-size: 15px;
  width: 80%;
}

.my-sidebar .sidebar-accordion :global(.title:not(.ui) .menu .item) {
  padding: 17px 6px 17px 0px;
  font-size: 13px;
}

.my-sidebar :global(.ui.sidebar.menu .menu) {
  background: #2b3542;
}

.my-sidebar :global(.ui.sidebar.menu .menu:hover),
.my-sidebar :global(.ui.sidebar.menu) .active-item {
  background-color: #3d4c5c;
}

.my-sidebar :global(.ui.sidebar.menu .content.active) {
  padding: 0;
}

.my-sidebar
  :global(.ui.sidebar.menu)
  .sidebar-accordion
  :global(.menu)
  .inner-item {
  padding: 12px 0px 13px 0px;
  font-size: 13px;
  width: 110px;
}

.my-sidebar :global(.ui.sidebar.menu .menu .menu .item) {
  padding: 12px 6px 13px 2px;
  min-height: 38px;
}

.my-sidebar :global(.ui.sidebar.menu .menu .menu .item:hover),
.my-sidebar :global(.ui.sidebar.menu .menu .menu .active.item) {
  background-color: #3d4c5c;
  color: #fff;
}

.my-sidebar :global(.ui.sidebar) .highlight {
  background-color: inherit;
  color: #ffdf24;
}

.my-sidebar :global(.ui.inverted.pointing.secondary.menu) {
  display: flex;
}

@media only screen and (max-width: 1023px) {
  .my-sidebar :global(.ui.sidebar.menu) {
    width: 60%;
  }

  .my-sidebar
    .sidebar-accordion
    :global(.title:not(.ui) .menu)
    :global(.item).sidebar-content {
    width: auto;
  }
}

@media only screen and (max-width: 467px) {
  .my-sidebar :global(.ui.sidebar.menu) {
    width: 80%;
  }
}

.my-sidebar :global(.ui.sidebar.menu).thin-sidebar {
  display: none;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
